.your-dashboard {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 114px;
}
.header2 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 54px;
  font-family: Roboto;
  font-size: 16px;
  color: #fff;
}
.cards-icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.129);
}
.wrapper-cards {
  height: 133px;
  width: 124px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panorma-presents-gift {
  width: 179px;
  position: relative;
  line-height: 135%;
  display: inline-block;
}
.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  min-width: 148px;
}
.download-credit-details {
  white-space: nowrap;
}
.credits,
.download-credit-details {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.card-credits,
.card-row {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  color: #000;
}
.card-row {
  width: 560px;
  flex-direction: row;
  padding: 0 28px 0 0;
  box-sizing: border-box;
  gap: 15px;
  max-width: 100%;
  color: #1c1c1c;
}
.hrs,
.up-time1 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.up-time {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.icons-block {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.action-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3px;
}
.april-2024,
.next-renewal1 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.next-renewal,
.renewal-info {
  display: flex;
  align-items: flex-start;
}
.next-renewal {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.renewal-info {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 1px 0 5px;
}
.cancel {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 49px;
}
.icons-block1 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.renewal-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.renew {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 48px;
}
.cancellation,
.renewal-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
}
.cancellation {
  align-self: stretch;
  justify-content: space-between;
  gap: 20px;
}
.renewal-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 36px;
}
.card-actions,
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.card-actions {
  width: 179px;
  align-items: flex-end;
  gap: 7px;
}
.card-container {
  align-self: stretch;
  align-items: flex-start;
  gap: 48px;
  max-width: 100%;
}
.dashboard-cards-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #cacaca;
  box-sizing: border-box;
}
.dashboard-cards,
.dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.dashboard-cards {
  align-self: stretch;
  gap: 15px;
}
.dashboard-header {
  flex: 1;
  gap: 36px;
}
.header3 {
  border: 0;
  background-color: transparent;
  height: 54px;
  flex: 1;
  font-family: Roboto;
  font-size: 16px;
  color: #fff;
  max-width: 100%;
}
.user-details-header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 4px;
  box-sizing: border-box;
  max-width: 100%;
}
.darnell-roob,
.name {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 43px;
}
.darnell-roob {
  text-align: right;
  min-width: 91px;
}
.detail-items,
.detail-rows {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.detail-items {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.detail-rows {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 25px;
  box-sizing: border-box;
}
.email-address {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 103px;
}
.darnellroobhotmailcom {
  position: relative;
  line-height: 22px;
  text-align: right;
  white-space: nowrap;
}
.detail-rows1,
.email-address-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.email-address-parent {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.detail-rows1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 25px;
  box-sizing: border-box;
}
.basic,
.plan {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 32px;
}
.basic {
  text-align: right;
  min-width: 40px;
}
.detail-rows2,
.plan-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.plan-parent {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.detail-rows2 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 25px;
  box-sizing: border-box;
}
.april-20241,
.expiry-date {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 80px;
}
.april-20241 {
  text-align: right;
  min-width: 98px;
}
.detail-rows3,
.expiry-date-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.expiry-date-parent {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.detail-rows3 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 25px;
  box-sizing: border-box;
}
.auto-renewal,
.on {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 98px;
}
.on {
  text-align: right;
  min-width: 20px;
}
.auto-renewal-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.checkout-details,
.detail-rows4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.detail-rows4 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 25px;
}
.checkout-details {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  flex-direction: column;
  padding: 0 0 32px;
  gap: 32px;
}
.checkout-details-wrapper {
  width: 504px;
  background-color: #9f0132;
  justify-content: flex-start;
  min-width: 504px;
}
.checkout-details-wrapper,
.dashboard-content,
.dashboard-header-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.dashboard-header-parent {
  width: 1536px;
  justify-content: flex-start;
  gap: 47px;
}
.dashboard-content {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 1275px) {
  .checkout-details-wrapper {
    flex: 1;
  }
  .dashboard-header-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .card-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .card-row {
    flex-wrap: wrap;
  }
  .card-container {
    gap: 24px;
  }
  .dashboard-header {
    gap: 18px;
    min-width: 100%;
  }
  .checkout-details {
    gap: 16px;
  }
  .checkout-details-wrapper {
    gap: 23px;
    min-width: 100%;
  }
  .dashboard-header-parent {
    gap: 23px;
  }
}
@media screen and (max-width: 450px) {
  .detail-items,
  .email-address-parent,
  .expiry-date-parent,
  .plan-parent {
    flex-wrap: wrap;
  }
}
