.link48 {
  width: 112.3px;
  height: 26px;
  position: relative;
  display: none;
}
.logo-icon {
  height: 37.3px;
  width: 27px;
  position: relative;
}
.gift-euphoria4 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 41px;
  text-transform: capitalize;
}
.gift-euphoria-logo1 {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  gap: 6.8px;
}
.gift-euphoria-logo1,
.logo4,
.yougotagift-is-the1 {
  display: flex;
  align-items: center;
}
.logo4 {
  width: 214.8px;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
}
.yougotagift-is-the1 {
  width: 185px;
}
.in-the-middle1,
.marketplace-for-digital1,
.yougotagift-is-the1 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 110%;
  text-transform: capitalize;
}
.marketplace-for-digital1 {
  align-self: stretch;
}
.in-the-middle1 {
  width: 122px;
  display: flex;
  align-items: center;
}
.marketplace-description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  font-size: 14px;
  color: #3a1a5f;
  font-family: Roboto;
}
.a542-439c-b075-9ce64c518a9bpn-icon1,
.a69d9157-3732-4139-b56a-d6e339-icon1,
.d933dc-4be6-4a83-a015-5628572f-icon1,
.edfaa219-5d52-40f5-918f-b94c7d-icon1 {
  align-self: stretch;
  width: 32.3px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 10px;
}
.a69d9157-3732-4139-b56a-d6e339-icon1,
.d933dc-4be6-4a83-a015-5628572f-icon1,
.edfaa219-5d52-40f5-918f-b94c7d-icon1 {
  width: 17px;
}
.d933dc-4be6-4a83-a015-5628572f-icon1,
.edfaa219-5d52-40f5-918f-b94c7d-icon1 {
  width: 41.3px;
}
.d933dc-4be6-4a83-a015-5628572f-icon1 {
  width: 30px;
}
.payment-logos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.c6883-dea4-4b05-b3ab-70a11800b-icon1 {
  width: 104px;
  height: 39.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.logo-container1 {
  width: 232px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 29px;
  font-size: 27.2px;
  color: #000;
  font-family: "Avenir Next LT Pro";
}
.heading-59 {
  width: 80.9px;
  position: relative;
  line-height: 23px;
  display: flex;
  align-items: center;
}
.link-blog1,
.link-for1 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 110%;
  text-transform: capitalize;
}
.link-for1 {
  display: inline-block;
  min-width: 108px;
}
.link-blog1 {
  width: 39px;
  display: flex;
  align-items: center;
}
.link-careers1 {
  display: inline-block;
  min-width: 70px;
}
.link-buy8,
.link-buy9,
.link-careers1 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 110%;
  text-transform: capitalize;
}
.link-buy8 {
  color: inherit;
  text-decoration: none;
}
.link-buy9 {
  align-self: stretch;
}
.company,
.company-links-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-links-list {
  align-self: stretch;
  gap: 27px;
  font-size: 14px;
  color: #545454;
}
.company {
  width: 166px;
  gap: 24px;
  min-width: 166px;
}
.heading-510 {
  position: relative;
  line-height: 23px;
  display: inline-block;
  min-width: 98.1px;
}
.link-about1 {
  display: inline-block;
  min-width: 79px;
}
.link-about1,
.link-media1,
.link-privacy1,
.link-terms1 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 110%;
  text-transform: capitalize;
  color: inherit;
  text-decoration: none;
}
.link-media1 {
  align-self: stretch;
}
.link-privacy1,
.link-terms1 {
  display: inline-block;
  min-width: 120px;
}
.link-terms1 {
  min-width: 114px;
}
.policy-info,
.policy-links-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.policy-links-list {
  align-self: stretch;
  gap: 27px;
  font-size: 14px;
  color: #545454;
}
.policy-info {
  width: 120px;
  gap: 24px;
  min-width: 120px;
}
.company-links-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.company-links1 {
  width: 399.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 22px 1.9px 0;
  box-sizing: border-box;
  max-width: 100%;
}
.heading-511 {
  position: relative;
  line-height: 23px;
  display: inline-block;
  min-width: 90.9px;
}
.c384a92-1060-4b7f-ae23-dab0cf2-icon1 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.facebook2 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15em;
  line-height: 110%;
  text-transform: capitalize;
}
.facebook-name,
.facebook1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.facebook-name {
  flex: 1;
  flex-direction: column;
  padding: 6.5px 0 0;
}
.facebook1 {
  align-self: stretch;
  flex-direction: row;
  gap: 16px;
}
.e7c-5a5d-4a72-9754-81cc7c265d7-icon1 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.instagram1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15em;
  line-height: 110%;
  text-transform: capitalize;
}
.link49,
.platform-icons,
.platform-names {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.platform-names {
  flex: 1;
  flex-direction: column;
  padding: 4px 0 0;
}
.link49,
.platform-icons {
  flex-direction: row;
}
.platform-icons {
  margin-top: -1px;
  width: 139px;
  gap: 16px;
  flex-shrink: 0;
}
.link49 {
  width: 116.8px;
  height: 26px;
  padding: 0;
  box-sizing: border-box;
}
.a12ff94-daca-4434-bddb-4645d7c-icon1 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.linkedin1 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 110%;
  text-transform: capitalize;
  display: inline-block;
  min-width: 73px;
}
.linkedin-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.a12ff94-daca-4434-bddb-4645d7c-group,
.link50 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.a12ff94-daca-4434-bddb-4645d7c-group {
  margin-top: -1px;
  gap: 16px;
  flex-shrink: 0;
}
.link50 {
  width: 100.2px;
  height: 26px;
  padding: 0;
  box-sizing: border-box;
}
.db02829-0f66-4224-a68e-08b9930-icon1 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.youtube1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15em;
  line-height: 110%;
  text-transform: capitalize;
}
.youtube-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.db02829-0f66-4224-a68e-08b9930-group,
.link51 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.db02829-0f66-4224-a68e-08b9930-group {
  margin-top: -1px;
  width: 120px;
  gap: 16px;
  flex-shrink: 0;
}
.link51 {
  width: 102.3px;
  height: 26px;
  padding: 0;
  box-sizing: border-box;
}
.social-icons {
  align-self: stretch;
  gap: 19px;
  font-size: 14px;
  color: #545454;
}
.social-icons,
.social-links3,
.socials-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.socials-container {
  align-self: stretch;
  gap: 24px;
  z-index: 1;
}
.social-links3 {
  height: 256.9px;
  width: 142px;
}
.heading-512 {
  width: 151.8px;
  position: relative;
  line-height: 23px;
  display: flex;
  align-items: center;
}
.link-e364f011-4cc7-4e8a-bca91,
.link-f3b1db0f-eb9f-4b0a-89f71 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.link-e364f011-4cc7-4e8a-bca91 {
  flex: 1;
  max-height: 100%;
}
.link-f3b1db0f-eb9f-4b0a-89f71 {
  height: 51.7px;
  flex-shrink: 0;
}
.app-download3,
.download-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.download-links {
  align-self: stretch;
  height: 175.4px;
  gap: 24.5px;
}
.app-download3 {
  height: 256.9px;
  width: 160px;
}
.brand-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 1px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
}
.gifteuphoriacom-ltd-all1 {
  position: relative;
  flex-shrink: 0;
}
.qatar-kuwait,
.uae2 {
  position: relative;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  min-width: 23px;
}
.qatar-kuwait {
  font-weight: 100;
  min-width: 3px;
}
.link52 {
  height: 17px;
  width: 33.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: 2.4px;
}
.empty-link,
.saudi-arabia1 {
  position: relative;
  display: inline-block;
  min-width: 77.3px;
}
.empty-link {
  font-weight: 100;
  min-width: 3px;
}
.link53 {
  height: 17px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: 2.6px;
}
.div13,
.qatar1 {
  position: relative;
  display: inline-block;
  min-width: 35px;
}
.div13 {
  font-weight: 100;
  min-width: 3px;
}
.link54,
.region-options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link54 {
  height: 17px;
  width: 46px;
  padding: 0;
  box-sizing: border-box;
  gap: 2.6px;
  z-index: 1;
  margin-left: -0.1px;
}
.region-options {
  flex: 1;
  min-width: 87px;
}
.bahrain1,
.div14 {
  position: relative;
  display: inline-block;
  min-width: 47px;
}
.div14 {
  font-weight: 100;
  min-width: 3px;
}
.link55 {
  height: 17px;
  width: 57.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: 2.3px;
}
.div15,
.oman1 {
  position: relative;
  display: inline-block;
  min-width: 38px;
}
.div15 {
  font-weight: 100;
  min-width: 3px;
}
.link56 {
  height: 17px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: 2.6px;
}
.div16,
.kuwait1 {
  position: relative;
  display: inline-block;
  min-width: 41px;
}
.div16 {
  font-weight: 100;
  min-width: 3px;
}
.link57,
.region-options1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link57 {
  height: 17px;
  flex: 1;
  padding: 0;
  box-sizing: border-box;
  gap: 2.2px;
  z-index: 1;
  margin-left: -0.1px;
}
.region-options1 {
  width: 100.6px;
}
.link-india1 {
  position: relative;
  display: inline-block;
  min-width: 30.2px;
  flex-shrink: 0;
}
.region-links1 {
  width: 357.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.1px;
  flex-shrink: 0;
  max-width: 100%;
}
.horizontalborder1 {
  align-self: stretch;
  border-top: 1px solid #ebebeb;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 0 42px;
  gap: 20px;
  font-size: 12px;
  font-family: Poppins;
}
.container77,
.footer2,
.footer3,
.horizontalborder1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.container77 {
  width: 1280px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 60px 0 0;
  box-sizing: border-box;
  gap: 83.1px;
}
.footer2,
.footer3 {
  flex-direction: row;
}
.footer3 {
  flex: 1;
  background-color: #fff;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.footer2 {
  align-self: stretch;
  overflow: hidden;
  justify-content: flex-start;
  text-align: left;
  font-size: 16px;
  color: #3a1a5f;
  font-family: Roboto;
}
@media screen and (max-width: 1100px) {
  .brand-details {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .horizontalborder1 {
    flex-wrap: wrap;
  }
  .container77 {
    gap: 42px;
    padding-top: 39px;
    box-sizing: border-box;
  }
  .footer2 {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .gift-euphoria4 {
    font-size: 22px;
    line-height: 33px;
  }
  .company,
  .policy-info {
    flex: 1;
  }
  .company-links-container,
  .region-links1 {
    flex-wrap: wrap;
  }
  .container77 {
    gap: 21px;
  }
}
