.c06dddb5-8622-4cea-8ee8-b17531-icon {
  height: 64px;
  width: 64px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.heading-51,
.ios-rating {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.heading-51 {
  line-height: 23px;
  font-weight: 800;
  min-width: 41.2px;
}
.half-starsvg-fill-icon,
.starsvg-icon5,
.starsvg-icon6,
.starsvg-icon7,
.starsvg-icon8 {
  height: 26px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 26px;
}
.half-starsvg-fill-icon {
  object-fit: cover;
}
.heading-5-48-parent,
.starsvg-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.starsvg-parent {
  flex: 1;
}
.heading-5-48-parent {
  align-self: stretch;
  gap: 10px;
  font-size: 24px;
  color: #4285f4;
}
.k-reviews {
  position: relative;
  font-size: 12px;
  color: #868686;
  display: inline-block;
  min-width: 65px;
}
.ios-rating-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.c06dddb5-8622-4cea-8ee8-b17531-parent {
  width: 255.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  text-align: left;
  font-size: 16px;
  color: #6a6a6a;
  font-family: "Plus Jakarta Sans";
}
@media screen and (max-width: 450px) {
  .heading-51 {
    font-size: 19px;
    line-height: 18px;
  }
}
