.googlepng-icon3 {
  width: 57px;
  height: 57px;
  position: absolute;
  margin: 0 !important;
  top: 33px;
  left: 33px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.starsvg-icon19,
.starsvg-icon20,
.starsvg-icon21,
.starsvg-icon22,
.starsvg-icon23 {
  height: 26px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 26px;
}
.starsvg-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.good-and-prompt {
  width: 222.5px;
  position: relative;
  line-height: 120%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-parent2,
.heading-54 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.heading-54 {
  height: 28.8px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0.9px;
  box-sizing: border-box;
}
.frame-parent2 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  color: #1a191e;
  font-family: "Avenir Next LT Pro";
}
.i-was-amazed {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
}
.from-lisa-kudro,
.link-see3 {
  position: relative;
  letter-spacing: 0.15em;
  text-transform: capitalize;
}
.from-lisa-kudro {
  height: 26px;
  line-height: 110%;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.link-see3 {
  line-height: 17px;
  color: #4285f4;
}
.from-lisa-kudro-parent,
.item3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
}
.item3 {
  width: 406.7px;
  margin: 0 !important;
  position: absolute;
  top: 553.1px;
  left: 1129.3px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid rgba(156, 163, 175, 0.4);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: 96px 32px 13px;
  gap: 14px;
  text-align: left;
  font-size: 24px;
  color: #545454;
  font-family: Roboto;
}
@media screen and (max-width: 450px) {
  .good-and-prompt {
    font-size: 19px;
    line-height: 23px;
  }
}
